.main-container {
  display: flex;
  height: 100vh; /* Make sure the container covers the full viewport height */
}

.color-div-red {
  width: 20px;
  height: 20px;
  background-color: red;
}
.color-div-orange {
  width: 20px;
  height: 20px;
  background-color: orange;
}
.color-div-yellow {
  width: 20px;
  height: 20px;
  background-color: yellow;
}
.color-div-grey {
  width: 20px;
  height: 20px;
  background-color: grey;
}

.inline {
  display: inline-block;
}

.fourth {
  width: 25%;
  align-items: center;
  /* background-color: #201f1e; */
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.formElem {
  /* background-color: #252423; */
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

.threequarters {
  width: 75%;
  align-items: center;
}

.half {
  width: 50%;
  align-items: center;
  border-radius: 10px;
}
.right {
  float: right;
}
.left {
  float: left;
}

button {
  float: right;
}

.inline-elements {
  display: flex; /* Use flexbox to make the divs display in a row */
  align-items: center; /* Align items vertically within the flex container */
}

.inline-elements > div {
  margin-right: 20px; /* Add some spacing between the elements */
}

.clickable-button {
  text-align: left;
  float: right;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.clickable-button:hover {
  background-color: #ebebeb;
}

.delete-button {
  margin-left: 10px;
  background-color: #ff5858;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #ff0000;
}

.crossed {
  text-decoration: line-through;
}
.vl {
  border-left: 6px solid rgb(216, 216, 216);
  height: 500px;
  left: 40%;
  margin-left: 0px;
  top: 0;
}

.style {
  width: 50px;
  height: 50px;
  background-color: red;
}

.full-width {
  width: calc(100% - 10px);
}
