.container {
  display: flex;
}

.fourth {
  width: 25%;
  align-items: center;
}
.threequarters {
  width: 75%;
  align-items: center;
}

.half {
  width: 50%;
  align-items: center;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.left {
  float: left;
}

button {
  float: right;
}


